<div class="container">
  <div class="filter">
    <div style="margin-left: auto">
      <label for="short_name"> Filter : </label>
      <input
        type="text"
        id="short_name"
        name="searchValue"
        placeholder="search by short name"
        [(ngModel)]="searchValue"
        (ngModelChange)="Search()"
      />
    </div>
  </div>

  <!-- <app-card [certifierList]="selectedList"></app-card> -->
  <div class="card" *ngFor="let item of certifierList">
    <h4>{{ item.short_name }}</h4>
    <span
      style="
        margin: auto;
        width: 8vw;
        display: table-cell;
        border-bottom: 1px solid white;
      "
    ></span>
    <p>{{ item.long_name }}</p>
    <p>level {{ item.rncp_level }}</p>
    <h6>{{ item.short_name }}</h6>
  </div>
</div>
