h1,
h2,
h3 {
  font-size: small;
}

h4 {
  font-size: 12px;
  margin: 0px 5px;
}

h5,
h6 {
  font-size: x-small;
  margin: 0px 5px;
}

p,
a {
  font-size: xx-small;
  margin: 2px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5rem;
  background: #363636;
}

.filter {
  display: flex;
  justify-content: right;
  flex-basis: 90%;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  text-align: center;
  background: #607d8b;
  color: white;
  min-height: 120px;
}
